html,
body {
    border: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#center {
    width: 90%;
    margin: auto;
}

#header {
    border: 3px solid #181486;
    padding: 5px;
}

#sidebar-left,
#sidebar-right,
#content,
#footer {
    border: 2px solid black;
    padding: 5px;
}

#sidebar-left {
    margin-right: 10px;
}

#sidebar-right {
    margin-left: 10px;
}

#sidebar-left {
    margin-top: 10px;
    float: right;
    width: 10.3%;
}

#sidebar-right {
    margin-top: 10px;
    float: left;
    width: 20.3%;
}

#content {
    margin: 10px 0.5%;
    width: 54%;
    float: left;
}

#header {
    margin-top: 10px;
}
#footer {
    clear: both;
}
