html,
body {
    border: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#center {
    width: 900px;
    margin: auto;
}

#header,
#sidebar-left,
#sidebar-right,
#content,
#footer {
    border: 2px solid black;
    padding: 5px;
}

#sidebar-left {
    margin-right: 10px;
}

#sidebar-right {
    margin-left: 10px;
}

#sidebar-left,
#sidebar-right {
    margin-top: 10px;
    float: left;
    width: 20%;
}

#content {
    margin: 10px 5px;
    width: 52%;
    float: left;
}

#header,
#footer {
    clear: both;
}
